---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.masthead {
    border-bottom: none;
}

.btn--outline {
    background-color: transparent;
    color: white;
    border: 5px solid white;
}

.white {
    color: white !important;
}

.page__footer-logos {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: $sans-serif-narrow;
      font-size: $type-size-6;
      text-transform: uppercase;
    }

    li + li:before {
      content: "";
      padding-right: 5px;
    }

    a {
      padding-right: 10px;
      font-weight: bold;
    }

    .logos {
      a {
        white-space: nowrap;
        img {
            max-height: 3em;
        }
      }
    }
  }


.page__footer-nav {
  font-size: $type-size-7;
  margin-bottom: 10px;
  a {
    padding: 1em;
  }
}

.page__content {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

// back-to-top-button inspired by https://moderncss.dev/pure-css-smooth-scroll-back-to-top/
// see _includes/all-events.html for the implementation
.back-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: -1.5rem;
  bottom: 0;
  // Required for best support in browsers not supporting `sticky`
  width: 3em;
  // Disable interaction with this element
  pointer-events: none;
}

.back-to-top-link {
  // `fixed` is fallback when `sticky` not supported
  position: fixed;
  // preferred positioning, requires prefixing for most support, and not supported on Safari
  // @link https://caniuse.com/#search=position%3A%20sticky
  position: sticky;
  // reinstate clicks
  pointer-events: all;
  // achieves desired positioning within the viewport
  // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
  top: calc(100vh - 5rem);

  // styling
  display: inline-block;
  border: none;
  outline: none;
  &, &:visited, &:focus {
    color: #fff; /* Text color */
    background-color: #0c0c0c;
  }
  &:hover {
    color: #fff; /* Text color */
    background-color: #646464;
  }
  cursor: pointer;
  text-decoration: none;
  border-radius: 50%;
}

#project-row {
  .feature__item {
    @include breakpoint($small) {
      width: span(3 of 12);

      &:nth-child(3n + 1) {
        clear: none;
        margin-left: gutter(of 12);
      }

      &:nth-child(3n + 2) {
        clear: none;
        margin-left: gutter(of 12);
      }

      &:nth-child(3n + 3) {
        clear: none;
        margin-left: gutter(of 12);
      }

      &:nth-child(4n + 1) {
        clear: both;
        margin-left: 0;
      }
    }
  }
}

.page__hero--overlay {
  padding: 1em 0;
}